<% layout("/layouts/boilerplate.ejs") %>
<!-- <head>
  <meta http-equiv="refresh" content="5;url=/listings">
</head> -->
<body>
    <div class="alert alert-danger mt-3" role="alert">
        <%= message %>
      </div>
</body>