<% layout("layouts/boilerplate.ejs") %>
<body>
    <h2>Listings</h2>
    <a href="/listings/new"><button>Create New Listing</button></a>
    <ul>
    <% for(item of allListings) { %>
            <li><a href="http://localhost:8080/listings/<%= item._id %>"><%= item.title %></a></li>
    <% } %>
    </ul>
</body>
