<% layout("layouts/boilerplate.ejs") %>

    <body>

        <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="row">
                <div class="col-8 offset-sm-2 offset-1"><!-- offset-3 moves "form" 3 col to right -->
                    <br>
                    <h2>Create a New Listing</h2>
                    <br>
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input name="listing[title]" placeholder="Cozy Beach House" type="text" class="form-control"
                            required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" placeholder="Perfect for a relaxing..." type="text"
                            class="form-control" required></textarea>
                        <div class="invalid-feedback">
                            Please provide description
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Upload Image</label>
                        <input name="listing[image]" type="file" class="form-control" required>
                    </div>
                    <div class="dropdown mb-3 d-grid">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Select Categories
                        </button>
                        <div class="dropdown-menu p-3" style="width: 100%">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[categories][]" value="New" id="New">
                                <label class="form-check-label" for="New">New</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[categories][]" value="Trending" id="Trending">
                                <label class="form-check-label" for="Trending">Trending</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[categories][]" value="Mountain top" id="Mountain top">
                                <label class="form-check-label" for="Mountain top">Mountain top</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[categories][]" value="Arctic" id="Arctic">
                                <label class="form-check-label" for="Arctic">Arctic</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[categories][]" value="Pool" id="Pool">
                                <label class="form-check-label" for="Pool">Pool</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[categories][]" value="A-frames" id="A-frames">
                                <label class="form-check-label" for="A-frames">A-frames</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[categories][]" value="Top cities" id="Top cities">
                                <label class="form-check-label" for="Top cities">Top cities</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[categories][]" value="Historic" id="Historic">
                                <label class="form-check-label" for="Historic">Historic</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[categories][]" value="Rooms" id="Rooms">
                                <label class="form-check-label" for="Rooms">Rooms</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[categories][]" value="Amazing views" id="Amazing views">
                                <label class="form-check-label" for="Amazing views">Amazing views</label>
                            </div>
                            <!-- Add more categories as needed -->
                        </div>
                    </div>

                    <!-- merging price and country in one row -->
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input name="listing[price]" placeholder="2999" type="number" class="form-control" required>
                            <div class="invalid-feedback">
                                Invalid price
                            </div>
                        </div>
                        <div class="col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input name="listing[country]" placeholder="India" type="text" class="form-control"
                                required>
                            <div class="invalid-feedback">
                                Invalid country
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input name="listing[location]" placeholder="Goa, North Goa." type="text" class="form-control" required>
                        <div class="invalid-feedback">
                            Invalid location
                        </div>
                    </div>
                    <div class="d-grid mt-2 mb-3">
                    <button type="submit" class="btn btn-poppy-red mb-4">List Property</button>
                    </div>
                </div>
            </div>
        </form>
    </body>
