body {
    font-family: "Plus Jakarta Sans", serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    max-width: 100%; 
    overflow-x: hidden; 
}

/* navbar */
.navbar {
    height: 5rem;
    background-color: white;
    /* z-index: 1021 !important; */
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-socials, 
.f-info-links,
.f-info-brand  {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-socials i {
    color: black;
    font-size: 1.2rem;
    margin-left: 1rem;
}

.f-info {
    height: 8rem;
    text-align: center;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;

}

/* card */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top {
    padding-top: 0.2rem;
    width: 100% !important;
    border-radius: 0.8rem !important;
    object-fit: cover !important;
}

.listing-link {
    text-decoration: none !important;
}

.card-img-overlay { /* an bootstrap class to display text over img.*/
    opacity: 0;
}
.card-img-overlay:hover {
    opacity: 0.03;
    background-color: darkblue ;
    border-radius: 1rem;
}
.transition-shadow:hover {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
/* new listing add-btn */  
.btn-poppy-red {
    background-color: #fe424d !important;
    color: white !important;
    border: none !important;
}

/* show route  */
.show-img {
    height: 30.83vh;
}
.btns {
    display: flex;
}

.fixed-top {
    z-index: 1 !important;
}


.search-bar {
    height: fit-content;
    
}

.search-bar input {
    border-radius: 25px ;
    text-align: center;
}

.search-bar i {
 display: inline;
 margin-right: 0.5rem;
}
 
.btn-search {
    border-radius: 25px !important;
    padding: 0 1rem 0 1rem;
}